{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<Storage Conneciton String>",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "ServiceBusConnectionString": "<Service Bus Connection String>",
    "EventHubsConnectionString": "<Event Hubs Connection String>",
    "AzureWebJobs.EventHubSingleTrigger.Disabled": "true"
  }
}
